/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

body {
    font: 1em/150% Arial, Helvetica, sans-serif;
}
a {
    color: #669;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font: bold 36px/100% Arial, Helvetica, sans-serif;
}
#idiomas{
    //height: 1000px

    position: relative;
    left: 10%;
    top: 150px;
}

/************************************************************************************
STRUCTURE
*************************************************************************************/
#pagewrap {
    padding: 5px;
    width: 960px;
    margin: 20px auto;
}
#header {
    height: 180px;
}
#content {
    width: 84%;
    float: right;
    min-height: 30em;
    overflow: auto;
}
#sidebar {
    width: 15%;
    float: left;
    min-height: 30em;
}
#footer {
    clear: both;
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* for 980px or less */
@media screen and (max-width: 980px) {

    #pagewrap {
        width: 94%;
    }
    #content {
        width: 79%;
    }
    #sidebar {
        width: 20%;
    }

}

/* for 700px or less */
@media screen and (max-width: 700px) {

    #content {
        width: auto;
        float: none;

    }
    #sidebar {
        width: auto;
        float: none;
        height: auto;
    }

}

/* for 480px or less */
@media screen and (max-width: 480px) {

    #header {
        height: auto;
    }
    #content {
        width: 100%;
        float: none;

    }
    h1 {
        font-size: 24px;
    }
    #sidebar {
        //display: none;
        height: auto;
    }

}

/* border & guideline (you can ignore these) */
#content {
    background: #f8f8f8;
}
#sidebar {
    background: #f0efef;
}
#header, #content, #sidebar {
    margin-bottom: 5px;
}
#pagewrap, #header, #content, #sidebar, #footer {
    border: solid 1px #ccc;
}
.langimg{
    width:20px;
    height:20px;
}
#ctabla{
    height:20%;
}
table, td, th{
    border: 1px solid grey;
}

table {
    width:100%;
    //height:80%;
}

th, td {
    text-align: center;
}

th {
    background-color: grey;
    color: white;
}
.progress-bar {
    background-color: black;
    height: 15px;
    padding: 2px;
    width: 95%;
    margin: 70px 0 20px 0;			
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;           
}

.progress-bar span {
    display: block;
    height: 100%;
    background-color: #777;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-transition: margin .4s ease-in-out;
    -moz-transition: margin .4s ease-in-out;
    -ms-transition: margin .4s ease-in-out;
    -o-transition: margin .4s ease-in-out;
    transition: margin .4s ease-in-out;		
}


.blue span {
    background-color: green;   
}

